services:
  creappui:
    container_name: creappui
    build:
      context: ./
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - "3016:3000"
    networks:
      - caddy-net

networks:
  caddy-net:
    driver: bridge
    attachable: true
